<div class="bookmarks">

    {{#if this.isRed}}
        <button
            ...attributes
            selector = "data-test"
            type="button" 
            id = {{@id}}
            class="imagebutton" {{on "click" this.useService}}>    
            <small>📕</small>
        </button>     
        
    {{else}}
        <button
            ...attributes 
            selector = "data-test"
            type="button" 
            id = {{@id}}
            class="imagebutton" {{on "click" this.useService}}>
            <small>📗</small>
        </button>     
        
         
    {{/if}}

</div>