<div class="bookmarks">

    {{#if this.isRed}}
        <button
            ...attributes
            type="button" 
            id = {{@id}}
            class="imagebutton" {{on "click" this.useService}}>    
            <small>📕</small>
        </button>
        <!--
        <button
            class = "imagebutton" {{on "click" this.checkReload}}>
            Reload
        </button>        
        -->
        
    {{else}}
        <button
            ...attributes 
            type="button" 
            id = {{@id}}
            class="imagebutton" {{on "click" this.useService}}>
            <small>📗</small>
        </button>
        <!--
        <button
            class = "imagebutton" {{on "click" this.checkReload}}>
            Reload
        </button>        
        -->
         
    {{/if}}
</div>